.vscode/**
.vscode-test/**
out/test/**
AGENTS.md
CLAUDE.md
pom.xml
.npmrc
node/**
target/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.test.json
**/.eslintrc.json
**/*.map
**/*.ts
esbuild.js
tsconfig.tsbuildinfo

server/aadl/lib/org.eclipse.help*
server/aadl/lib/org.eclipse.elk*
server/aadl/lib/org.eclipse.jdt*
server/aadl/lib/org.eclipse.jface*
server/aadl/lib/org.eclipse.mylyn*
server/aadl/lib/org.eclipse.nebula*
server/aadl/lib/org.eclipse.sirius*
server/aadl/lib/org.eclipse.swt*
server/aadl/lib/org.eclipse.ui*
server/aadl/lib/org.eclipse.*.ui*
server/aadl/lib/org.eclipse.zest*
server/aadl/lib/org.antlr.antlr4-runtime_*.jar
server/aadl/lib/org.osate.branding*
server/aadl/lib/org.osate.ge*
server/aadl/lib/org.osate.*help*
server/aadl/lib/org.yakindu*
server/aadl/lib/org.osate.xtext.aadl2.errormodel.ui*
server/aadl/lib/org.osate.aadl2.instance.textual.ui*
server/aadl/lib/org.osate.aadl2.instance.ui*
server/aadl/lib/org.osate.aadl2.model.editor*
server/aadl/lib/org.osate.analysis.*.ui*
server/aadl/lib/org.osate.modelstats.ui*
server/aadl/lib/org.osate.mylyn.aadl.ui*
server/aadl/lib/org.osate.ui*
server/aadl/lib/org.osate.xtext.aadl2.ui*
server/aadl/lib/org.osate.xtext.aadl2.properties.ui*
server/aadl/lib/org.osate.verify.ui*
server/aadl/lib/org.osate.alisa.workbench.ui*
server/aadl/lib/org.osate.categories.ui*
server/aadl/lib/org.osate.reqspec.ui*
server/aadl/lib/org.osate.organization.ui*
server/aadl/lib/org.osate.alisa.common.ui*
